.Hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;

}

.HeroDetails{
    color: white;
    flex: 1;
    
}

.HeroImage{
    flex : 1;
}

.HeroImage img{
    width: 600px;
    height: auto;
}